<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fakebook</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1>Fakebook 2.5</h1><br>
    <p>Iskalnik: <input type="text" placeholder="Isci po imenu" name="firstname"><br></p>
    <h2>Jan Košutnik</h2>
    <img src="http://tinyurl.com/h69ch2s"><br>
    <button>Dodaj za prijatelja</button><br>
    <p><strong>Kraj: </strong>Ljubljana</p>
    <p><strong>Starost: </strong>35+</p>
    <p><strong>Izobrazba: </strong>BA</p>
    <p><strong>Hobi: </strong>muharjenje</p>
    <p><strong>Število FB prijateljev: </strong>29</p>
    <p><strong>Število FB neprijateljev: </strong>23</p>
    <br>
    <table style="width:100%">
        <tr>
            <th align="left">Firstname</th>
            <th align="left">Last name</th>
            <th align="left">Age</th>
        </tr>
        <tr>
            <td>Jan</td>
            <td>Kosutnik</td>
            <td>37</td>
        </tr>
        <tr>
            <td>John</td>
            <td>Monroe</td>
            <td>56</td>
        </tr>
        
    </table>
</body>
</html>